<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cronômetro</title>

    <!-- Bootstrap -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="script.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="col-md-12 text-center">
        <h1>Cronômetro</h1>
      </div>
      <div class="col-md-12 text-center center-block">
        <div id="tempo" type="button" class="btn btn-warning tamanho text">00:00!</div>
        
      </div>
      <div class="marginTop col-md-12 text-center center-block">
         <button id="btn" onclick="cronometro(1)" type="button" class="col-md-2 col-md-offset-5 btn btn-success">Iniciar</button>
       </div>
       <div class="marginTop col-md-12 text-center center-block">
         <button id="btnPause" onclick="parar()" type="button" class="hide col-md-2 col-md-offset-5 btn btn-danger">Pause</button>
       </div>
        <div class="marginTop col-md-12 text-center center-block">
         <button id="btnStop" onclick="stop()" type="button" class="hide col-md-2 col-md-offset-5 btn btn-primary">Stop</button>
       </div>
       <div class="marginTop col-md-12 text-center center-block">
         <div class="col-md-4 col-md-offset-4">
            <div class="input-group">
              <span class="input-group-addon">Min</span>
              <input id="minutos" type="number" min="0" max="59" class="form-control" placeholder="Minutos">
            </div>
             <div class="input-group">
              <span class="input-group-addon">Seg</span>
              <input id="segundos" type="number"  min="0" max="59" class="form-control" placeholder="Segundos">
              <input id="pause" type="hidden" value="0"  class="form-control">
            </div>
          </div>
        </div>
   </div>

 
  </body>
</html>