{% extends 'base.html' %}

{% block titulo %}
    <title>Cadastro de Tarefa</title>
    <style>
        ul {
            list-style-type: none;
        }

        li{
            display: inline;
            margin-left: 1%;
        }

        textarea {
            width: 80%;
            height: 100px;
        }
    </style>
{% endblock %}

{% block conteudo %}
    <header>
        <div class="navbar navbar-light" style="background-color: #FFFFFF;">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <strong> <i class="fa fa-clock-o" aria-hidden="true"></i> Nova Tarefa</strong>
                </a>
            </div>
        </div>
    </header>

    <main role="main" style="background-color: #A8E6CF;">
        <div class="card-body">
            <form method="post">
                
                <!--{% csrf_token %}
                {{ form.as_p }}
                <div class="form-group">
                    <a href="{% url 'home' %}" type="submit" class="btn btn-secondary">
                   <i class="fas fa-arrow-left"></i> Voltar
                   </a>
                   
                   <button type="submit" class="btn btn-info">
                   <i class="fas fa-save"></i> Cadastrar
                   </button>
                </div>-->

                <!--<center>
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Nome Tarefa</label>
                                {{ form.nome_tarefa }}
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Categoria</label>
                                {{ form.categoria }}
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Insignia</label>
                                {{ form.insignia }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Periodicidade</label>
                                {{ form.periodicidade }}
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Hora Notificação</label>
                                {{ form.hora_notificacao }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <h6>Frequência Semana</h6>
                                {{ form.frequencia_semana }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Data Criação</label>
                                {{ form.data_criacao }}
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Hora Criação</label>
                                {{ form.hora_criacao }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <h6>Descrição</h6>
                                {{ form.descricao }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <a href="{% url 'home' %}" type="submit" class="btn btn-secondary">Voltar</a>

                                <button type="submit" class="btn btn-info">Iniciar Tarefa</button>
                            </div>
                        </div>
                    </div>
                </center>-->
                
                <center>
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Nome Tarefa</label>
                                {{ form.nome_tarefa }}
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Categoria</label>
                                {{ form.categoria }}
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Insignia</label>
                                {{ form.insignia }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Periodicidade</label>
                                {{ form.periodicidade }}
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Duração</label>
                                {{ form.duracao }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <h6>Frequência Semana</h6>
                                {{ form.frequencia_semana }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <h6>Descrição</h6>
                                {{ form.descricao }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <a href="{% url 'home' %}" type="submit" class="btn btn-secondary">Voltar</a>

                                <button type="submit" class="btn btn-info">Iniciar Tarefa</button>
                            </div>
                        </div>
                    </div>
                </center>
            </form>
        </div>
    </main>
    

    <footer class="text-muted mt-5 mb-5">
        <div class="container">
            <p class="float-right">
                <a href="#">Voltar para o topo</a>
                <br>
                <a href="/">Voltar para a página inicial</a>
            </p>
        
            <p>&copy; {{ info_sede.nome_empresa }}, 2021!</p>
            <p> <i class="fa fa-star" aria-hidden="true"></i> Quer saber mais? <a target="_blank" href="{{ info_sede.email }}">Nos mande um e-mail</a> ou venha nos visitar no nosso <a target="_blank" href="{{ info_sede.instagram }}">Instagram</a>.</p>
        </div>
    </footer>
{% endblock %}